//Variables
$bg-main: #fafafa;
$column: percentage(1/30);
$column-2: 2 * $column;
$column-6: 6 * $column;
$column-8: 8 * $column;

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

header {
  display: flex;
  height: 2em;
  width: 100%;
  margin: 2em $column;

  // Rekd Logo
  img {
    height: 2em;
    width: auto;
  }

  // Header search bar
  input {
    width: 20%;
    text-align: center;
    margin: 0 40%;
    position: absolute;
    height: 2em;
    border-radius: 5px;
    border: 2px solid #f4f4f4;
    background-color: #fafafa;
  }
}

main {
  background-color: $bg-main;
  border-top: 1px solid #f4f4f4;
  padding: $column;
}

.profile {
	display: flex;
	#profile-img {
		width: 200px;
    min-width: 200px;
		height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 $column-2;
	}
  img {
    margin: -10px;
  }
  .info {
    margin: $column;
    ul {
      list-style-type: none;
      padding: 0;
    }
  }
}

.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .wrapper {
    height: 230px;
    overflow: hidden;
    margin-bottom: $column;
    img {
      margin-top: -30%;
    }
  }
}




















